<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>布局</title>
    <link rel="stylesheet" th:href="${'../css/sign.css'}">
</head>

<div class="sign_container">
    <div class="sign_return">
        <img class="sign_arrow" th:src="${'../pics/leftGrayArrow.png'}">
        <div class="sign_arrow_text">返回</div>
    </div>

    <form class="sign-form" action="/app/register" method="post" name="user">
        <div class="input-content">
            <div class="sign_login">
                <div class="sign_signer">密码登陆</div>
                <div class="login_loginer">注册</div>
            </div>
            <input class="sign_con con1" type="text" autocomplete="off" placeholder="请输入用户名" name="name" required maxlength="32"/>
            <input class="sign_con con2" type="password" autocomplete="off" placeholder="请输入密码" name="password" required maxlength="32"/>
            <input class="sign_con con2" type="text" autocomplete="off" placeholder="请输入手机号" name="mobile" required maxlength="14"/>
        </div>

        <button type="submit" class="sign_btn">注册豆瓣</button>

    </form>
</div>



</html>